

.iran-news{
    background-image: url(tank.jpeg);
    height: 400px;
    width: 800px;
    align-items: center;
    justify-content: center;
}

.iran-news >h3{
    color: white;
    font-size: 2rem;
}