


.ul{
    display: flex;
    gap: 3rem;
}

.ul > a {
    list-style: none;
    text-decoration: none;

}

.welcome{
    margin: 1rem;
}
.div-ukraine{
    color: white;
    background-image:url(tank.jpeg);
    height: 400px;
    width: 800px;
    margin: 1.7rem;
    background-repeat: none;
    background-size: cover;
    
}

.div-ukraine > h4{
    align-items: center;
    font-size:2rem ;
    justify-content: center;
    padding-top: 18rem;
    padding-left: 1.7rem;
}

.NEWS{
    margin-left: 2rem;
    border-left: 2rem;
    border-color: red;

}
.section{
    margin-top: 13rem;
    gap: 4rem;
}

.news{
    background-size: cover;
    height: 150px;
    width: 250px;
   margin: 2rem;
   display: flex;
   gap: 6rem;
   
}



